body {
    margin: auto;
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-flow: column;
    padding: 50px;
    background-color: #ffffff;
   
    
}

.main-area{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-flow: column;
  
}

table{
  border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    width: 50%;
  }

  td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 1em;
  }

th{
  padding: 10px 0 10px 0;
  text-decoration: underline;
  font-weight: bold;
  color:darkblue;
}

tr{
  margin-top: 5px;
  border: 1px solid #ddd;
}

.button-cell{
  padding: 0;
  width: 20%;
}

  .remove-button, .edit-button{
    color: red;
    margin: 1em;
  }


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Button used to open the contact form - fixed at the bottom of the page */
.add-book-btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    left: 28px;
    width: 280px;
  }

  .add-book-btn:hover{
    background-color: green;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    position: fixed;
    top: 23px;
    left: 28px;
    width: 280px;
    display: none;
    padding: 15px;
    width: 300px;
    right: 15px;
    border: 3px solid #000000;
    background-color: rgb(255, 255, 255);
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container, input[type=text] {
    width: 100%;
    padding: 5px 2px 22px 0;
    margin: 5px 0 22px 0;
    border: none;
    background: #ddd4d4;
  }
  
  /* When the inputs get focus, do something */
  .form-container, input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container, .btn-submit {
    background-color: #4CAF50;
    color: white;
    margin-top: 1em;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    
  }
  
  /* Add a red background color to the cancel button */
  .form-container, .btn-cancel {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    
  }
  
  /* Add some hover effects to buttons */
  .form-container, .btn:hover, .open-button:hover {
    opacity: 1;
  }
  

